spring:
  datasource:
    url: jdbc:mysql://localhost:3307/bluevelvet?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true

  servlet:
    multipart:
      max-file-size: 10MB      # Tamanho máximo de um arquivo individual
      max-request-size: 10MB   # Tamanho máximo da requisição total

  sql:
    init:
      mode: never

server:
  port: 8081